@use './variables' as v;
@use './mixins' as m;
@use 'sass:map';

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    font-weight: 600;
    text-align: center;
    font-family: map.get( v.$fuentes , tipo-secundaria);
}

body {
    // max-width: 112.5rem;
    font-family : map.get(v.$fuentes, tipo-principal);
    color: var(--color-negro);
    background-color: var(--color-blanco);
    transition: all 1.5s ease;
    
    &.darkmode {
        --color-negro: #f5f5f5;
        --color-blanco: #222;
        --color-fondo: #ffc1007d;
        --color-fondo-transp: #ffc100e0;
        --color-fondo-img-JC: #343d5b;
    //     color: map.get(v.$colores, color-secundario);
    //     background-color: map.get(v.$colores, color-primario);
    //     ::selection {
    //         background-color: map.get(v.$colores, color-secundario);
    //         color: map.get(v.$colores, color-primario);
    //     }
    //     .Cuadro{
    //         &-sup {
    //             background-color: map.get(v.$colores, color-fondo);
    //         }
    //         &-der {
    //             background-color: map.get(v.$colores, color-fondo);
    //         }
    //         &-inf {
    //             background-color: map.get(v.$colores, color-fondo);
    //         }
    //         &-izq {
    //             background-color: map.get(v.$colores, color-fondo);
    //         }
    //         &-p {
    //             color: map.get(v.$colores, color-primario);   
    //         }
    //     }
    //     .Efecto {
    //         &-ola-1 {
    //             fill: map.get(v.$colores, color-ola-1-dark);
    //         }
    //         &-ola-2 {
    //             fill: map.get(v.$colores, color-ola-2-dark);
    //         }
    //         &-ola-3 {
    //             fill: map.get(v.$colores, color-ola-3-dark);
    //         }
    //     }
    //     .Portada {
    //         background-image: url('../../public/assets/imgs/portada2.jpg');
    //     }
    //     .Contacto {
    //         background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../public/assets/imgs/oficina2.jpg');
    //     }
    //     .Header-nav {
    //         background-color: map.get(v.$colores, color-fondo);
    //         @include m.tablet {
    //             background-color: transparent;
    //         }
    //     }
    //     .Header-img {
    //         left: 1.875rem;
    //     }
    //     .Modal {
    //         &-contenedor {
    //             color: map.get(v.$colores, color-secundario);
    //             background-color: map.get(v.$colores, color-primario);
    //         }
    //     }
    }
}
