@use '../../../styles/variables' as v;
@use 'sass:map';

.Button {
    border: 2px solid var(--color-blanco);
    border-radius: 15px;
    color: var(--color-blanco);
    font-size: .9375rem;
    padding: .625rem .9375rem;
    cursor: pointer;
    &:hover {
        background: var(--color-hover-boton);
    }
    &--amarillo {
        border: 2px solid var(--color-fondo);
        background: var(--color-fondo);
        background: -moz-radial-gradient(circle, var(--color-fondo-transp) 0%, var(--color-fondo) 75%);
        background: -webkit-radial-gradient(circle, var(--color-fondo-transp) 0%, var(--color-fondo) 75%);
        background: radial-gradient(circle, var(--color-fondo-transp) 0%, var(--color-fondo) 75%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc100",endColorstr="#ffc100",GradientType=1);
        &:hover {
            background: rgb(255,193,0);
            background: -moz-radial-gradient(circle, var(--color-fondo) 0%, var(--color-fondo-transp) 40%);
            background: -webkit-radial-gradient(circle, var(--color-fondo) 0%, var(--color-fondo-transp) 40%);
            background: radial-gradient(circle, var(--color-fondo) 0%, var(--color-fondo-transp) 40%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc100",endColorstr="#ffc100",GradientType=1);
        }
    }
}