@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;
@use 'sass:map';

.EfectoOla {
    @include m.position (absolute, null, null, 0, 0);
    width: 100%;
    &-container {
        @include m.position (absolute, null, null, 0, 0);
        width: 100%;
        z-index: 0;
    }
    &-1 {
        transition: all 1.5s ease;
        fill: var(--color-ola-1);
    }
    &-2 {
        transition: all 1.5s ease;
        fill: var(--color-ola-2);
    }
    &-3 {
        transition: all 1.5s ease;
        fill: var(--color-ola-3);
    }
}