@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;
@use 'sass:map';

.Header {
    @include m.flex (row, wrap, space-between, center);
    @include m.position (fixed, 0, null, null, null);
    background-color: map.get(v.$colores, color-fondo-transp);
    margin: 0 auto;
    width: 100%;
    transition: all 0.5s ease;
    padding: 0.5rem;
    backdrop-filter: blur(2px);
    z-index: 100;
    @include m.tablet {
        backdrop-filter: blur(0);
        padding: 0;
        background-color: transparent;
        height: 2.1875rem;
        top: 2.5rem;
    }
    &--mod {
        top: 0;
    }
    &-izquierda {
        @include m.flex (row, nowrap, left, center);
        margin-left: .3125rem;
        @include m.telefono-xl {
            margin-left: 3.125rem;
        }
    }

    &-darkMode {
        position: relative;
        @include m.flex(row, nowrap, center, center);
        background-color: map-get(v.$colores, color-fondo-img-JC);
        border-radius: .9375rem;
        padding: 0.5rem 0.7rem;
        transition: all 0.5s ease;
        cursor: pointer;
        &--mod {
            background-color: map-get(v.$colores, color-fondo-img-JC-dark);
        }
    }
    &-img {
        height: 2rem;
        width: 2rem;
        @include m.position (absolute, -0.1rem, null, null, 0rem);
        transition: all 0.5s ease;
        &--mod {
            left: 2.1rem;
        }
    }
    &-span {
        color: map-get(v.$colores, color-secundario);
        line-height: 1.5625rem;
        font-size: .75rem;
        padding: 0 0.3rem;
    }
    &-autor {
        color: map-get(v.$colores , color-primario);
        font-family: map-get(v.$fuentes, tipo-secundaria);
        padding-left: 0.5rem;
        font-style: italic;
        font-weight: 700;
        display: none;
        transition: all 0.5s ease;
        @include m.telefono-m {
            font-size: .6em;
            display: block;
        }
        @include m.telefono-xl {
            font-size: .75em;
            padding-left: 1rem;
        }
        @include m.tablet {
            color: map-get(v.$colores, color-secundario);
        }
    }
    &-burger {
        position: relative;
        margin: 0 1rem;
        font-size: 20px;
        @include m.tablet {
            color: map-get(v.$colores, color-primario);
            display: none;
        }
    }
    &-nav {
        @include m.flex (column, nowrap, center, center);
        width: 100%;
        opacity: 0;
        visibility: hidden;
        max-height: 0;
        transition: all 1s ease;
        @include m.tablet {
            @include m.flex (row, nowrap, space-between, center);
            margin: 0 2rem;
            background-color: transparent;
            backdrop-filter: blur(0);
            opacity: 1;
            visibility: visible;
            width: auto;
        }
        &--mod {
            margin: 1rem 0;
            opacity: 1;
            visibility: visible;
            max-height: 31.25rem;
        }
    }
    &-li {
        padding: 0.5rem 1rem;
        border-bottom: 1px solid map-get(v.$colores, color-primario);
        @include m.tablet {
            padding: 0 0.9rem;
            border-bottom: none;
        }
        &:last-child {
            @include m.flex (row, nowrap, center, center);
            a {
                padding: 0 0.5rem;
                color: map-get(v.$colores, color-primario);
            }
            @include m.tablet {
                display: none; 
            }
        }
    }
    &-a {
        color: map-get(v.$colores, color-primario);
        font-family: map-get(v.$fuentes, tipo-secundaria);
        font-weight: 800;
        font-size: .8em;
        transition: all 0.5s ease;
        @include m.tablet {
            color: map-get(v.$colores, color-secundario);
        }
        &--mod {
            color: map-get(v.$colores, color-primario);
        }
        &:hover {
            color: map-get(v.$colores, color-hover);
            transform: scale(1.1);
        }
    }
    &--mod {
        top: 0;
        .c-header-autor {
            color: map-get(v.$colores, color-primario);
        }
        .c-header-a {
            color: map-get(v.$colores, color-primario);
            &:hover {
                color: map-get(v.$colores, color-hover);
            }
        }
    }
}
